.content {
  width: 100%;
  background-color: #FFFFFF;
}

.section-table {
  display: flex;
  justify-content: center;
  padding: 20px 40px;
}

h2 {
  margin: 0px;
  padding: 20px 0px 0px 40px;
  color: rgb(34, 34, 34);
}

@keyframes opacityAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.spinner-container {
  padding: 30px 0px;
}

.spinner-container .spin {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
  animation: opacityAnimation 1500ms infinite;
}

.content-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pt-2 {
  padding: 2em;
}